@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --danger: 0 72.2% 50.6%;
    --danger-foreground: 0 0% 98%;
    --default: 0 0% 98%;
    --default-foreground: 0 0% 9%;
    --default-50: 0 0% 98%;
    --default-100: 0 0% 96.1%;
    --default-200: 0 0% 89.8%;
    --default-300: 0 0% 83.1%;
    --default-400: 0 0% 63.9%;
    --default-500: 0 0% 45.1%;
    --default-600: 0 0% 32.2%;
    --default-700: 0 0% 23.1%;
    --default-800: 0 0% 14.9%;
    --default-900: 0 0% 9%;
    --divider: 0 0% 89.8%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --danger: 0 62.8% 30.6%;
    --danger-foreground: 0 0% 98%;
    --default: 0 0% 9%;
    --default-foreground: 0 0% 98%;
    --default-50: 0 0% 9%;
    --default-100: 0 0% 14.9%;
    --default-200: 0 0% 23.1%;
    --default-300: 0 0% 32.2%;
    --default-400: 0 0% 45.1%;
    --default-500: 0 0% 63.9%;
    --default-600: 0 0% 83.1%;
    --default-700: 0 0% 89.8%;
    --default-800: 0 0% 96.1%;
    --default-900: 0 0% 98%;
    --divider: 0 0% 14.9%;
  }

  html {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }

  #root {
    background-color: hsl(var(--background));
    min-height: 100vh;
  }
}

/* contact for styles start */

form {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  min-width: 300px;
  max-width: 800px;
  border-radius: 10px;
  padding: 0;
}

form > input,
form > textarea {
  width: 250px;
  align-self: center;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid rgb(0, 0, 0);
}

form > input {
  height: 35px;
  padding: 0 10px;
}

form > input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

form > input::placeholder {
  color: #9ca3af;
}

form > textarea {
  height: 100px;
  padding: 10px;
  resize: none;
}

form > label {
  display: flex;
  align-self: center;
  text-align: left;
  font-size: 16px;
  width: 250px;
  margin: 10px 0 2px 0;
}

form > h1 {
  font-size: 24px;
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
}

form > #form-btn {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

form > input[type="submit"] {
  width: 100px;
  height: 35px;
  color: black;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  transition: background-color 0.3s ease-out;
}

form > input[type="submit"]:hover {
  background-color: rgb(212, 212, 212);
  transition: background-color 0.3s ease-in;
}

form > .required:after {
  padding-left: 5px;
  content: "*";
  color: rgb(255, 0, 0);
}

@media screen and (min-width: 600px) {
  form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  form > input,
  form > textarea {
    width: 60%;
  }
  form > label {
    width: 60%;
  }
  form > input[type="submit"] {
    width: 60%;
  }
  form > input[type="submit"]:hover {
    width: 60%;
  }
}

/* contact styles end */

/* home page styles start */

/* home page styles end */

.toaster {
  background-color: #181818;
}
